@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Spectral&family=Raleway&display=swap');
/*
font-family: 'Bungee Shade', cursive;
font-family: 'Spectral', serif;
font-family: 'Raleway', sans-serif;
*/

/*
body {
	font-family: 'Spectral', serif;
}


*/


/* custom ui */
h1, h2, h3 { display: inline-block; }

h1, h2, h3, h4, p, .content, h4 a {
	font-family: 'Spectral', serif;
}

a {
	font-family: 'Raleway', sans-serif;
}

article p {
	font-size: 1.7rem;
    line-height: 1.55;
}

hr {
	height: 0.2em;
}
hr.double {
	height: 0.2em;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}


header.header {
	background: #FE0;
}

	header.header .h1 {
		font-family: 'Bungee Shade', cursive;
		font-size: 1.2rem;	
	}


header.header.hero {
	text-align: center;
}

	
	header.header.hero h1 a {
		font-family: 'Bungee Shade', cursive;
	}


.main .container h1 span {
	background-color: #FE0;
	color: #000;
}

article.article .content p {
	font-family: 'Spectral', serif;
}

	article.article figure.article {
		text-align: center;
	}

	figure figcaption {
		font-style: italic;
		font-weight: lighter;
		font-size: 0.9rem;
	}