@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Playfair+Display:wght@400;800&family=Roboto&display=swap');
/*
theme
font-family: 'Bungee Shade', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

purple: #ca14f7;
yellow: #f7e114;
*/


/* custom ui */

h1, h2, h3 { display: inline-block; }

h1, h2, h3, h4, p, .content, h3 a, h4 a {
	font-family: 'Playfair Display', serif;
}

a {
	font-family: 'Roboto', sans-serif;
	color: #ca14f7;
}
a:hover {
	color: #ca14f7;
}

hr {
	height: 0.2em;
}
hr.double {
	height: 0.2em;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}


header.header {
	background: #f7e114;
}

	header.header .h1 {
		font-family: 'Bungee Shade', cursive;
		font-size: 1.2rem;	
	}


header.header.hero {
	text-align: center;
}

	
	header.header.hero h1 a {
		font-family: 'Bungee Shade', cursive;
	}


.main .container h1 span {
	border-bottom: 4px solid #f7e114;
	color: #212529;
}

footer.footer ul.list-inline {
  text-align: center;	
}

article.teaser h3.title a {
	background: #f7e114;
	color: #212529;
}
	
article.teaser h3.title a:hover {
	text-decoration: none;
}


article.teaser .content, article.article p {
	font-size: 1.2rem;
    line-height: 1.55;
}

article.article .content p, article.article .content a {
	font-family: 'Playfair Display', serif;
}

	article.article figure.article {
		text-align: center;
	}

	figure figcaption {
		font-style: italic;
		font-weight: lighter;
		font-size: 0.9rem;
	}

article.teaser footer p {
	font-family: 'Roboto', sans-serif;	
}


img.avatar {
  vertical-align: middle;
  width: 125px;
  height: 125px;
  border-radius: 10%;
  box-shadow: 0.25rem 0.25rem 1rem rgba(48,55,66,.33);
  /*border: 4px solid #f7e114;*/
  float: left;
  margin: 0 1.5rem 1.5rem 0;
}

/* bootstrap overrides */
.text-muted a {
	color: #6c757d;
	font: inherit;
}
.text-muted a.active, .text-muted a:hover, .text-muted a:focused {
	text-decoration: underline;
}

.text-muted span:before, span.date:before {
    content: " · ";
}

iframe .yt.embed {
	width: 100%;
    min-height: 25vh;
}