.page-services-single {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
  .meta {
    margin-bottom: 1rem;  
    h1.title {
      margin-bottom: 0.3rem;

      span {
        border-bottom: 1px solid #f7e114;
      }
    }
    span {
      font-style: italic;
    }
  }
}
